install
text
lang en_US
langsupport zh_CN.UTF-8 en_US
keyboard us
mouse
timezone --utc Asia/Chongqing
auth --enableshadow --passalgo=sha512
rootpw --iscrypted $6$Kd3yxUtwpOk3fJ.M$KnTt/6pHJzXWYcKGQbqqkifavlMLrQcuOd6OAud97qD2IbFcWGtljsRVo9qWSSHj0Mcy.HmyLZ0JsDlq8mQ7B/
user user --fullname="user" --password $6$Kd3yxUtwpOk3fJ.M$KnTt/6pHJzXWYcKGQbqqkifavlMLrQcuOd6OAud97qD2IbFcWGtljsRVo9qWSSHj0Mcy.HmyLZ0JsDlq8mQ7B/ --iscrypted 

# TODO : hard code
#url --url http://192.168.50.122:8083/estuary_v500/Ubuntu/mirror
url --url http://192.168.1.107:80/ubuntu-ports/
#url --url http://ports.ubuntu.com/ubuntu-ports/

zerombr yes
##autopart --type=lvm
#ignoredisk --only-use=sda
##bootloader --location=mbr --driveorder=sda
#bootloader --location=mbr
#clearpart --drives=sda --all --initlabel
#part /boot/efi --fstype=efi --grow --maxsize=200 --size=20
#part /boot --fstype=ext4 --size=512
#part / --fstype=ext4 --size=10240 --grow
#part swap --size=4000

auth --useshadow --enablemd5
network --bootproto=dhcp --device=enahisic2i0 --ipv6=auto --activate
network  --hostname=localhost.localdomain
firewall --disabled
reboot
skipx

#%packages
#vim*
#openssh-server*
#openssh-client*
#%end


%post
echo "ubuntu" > /etc/hostname
RootLogin=`sed -n '/PermitRootLogin/p' /etc/ssh/sshd_config |grep -v ^'#'`
sed -i "s/$RootLogin/PermitRootLogin yes/g" /etc/ssh/sshd_config
%end
