ddns-update-style none;
ignore client-updates;
default-lease-time 600;
max-lease-time 7200;
authoritative;
log-facility local7;

allow booting;
allow bootp;
allow unknown-clients;
subnet 192.168.30.0  netmask 255.255.255.0 {
  range 192.168.30.50 192.168.30.100;
  option subnet-mask 255.255.255.0;
  option routers 192.168.30.1;
  option domain-name-servers 192.168.1.107, 114.114.114.114;
  default-lease-time 600;
  max-lease-time 7200;
}

# host d05ssh01 {
#   hardware ethernet c0:a8:02:a9:00:04;
#   fixed-address 192.168.30.201;
#   next-server 192.168.30.101;
#   filename "estuary_install/grubaa64.efi";
# }
